*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ccc;

}

header{
  height: 80px;
  background-color: #29B1DD;
  display: flex;
  justify-content: center;
  align-items: center;


}

label{
  color: #fff;
  font-size: 30px;
}

select{
  line-height: 50px;
  margin: 0 50px;
  font-size: 25px;

}

main{
  padding: 30px 30px;
}

ul{
  margin-top: 30px;
  list-style : none;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

div{
  border:1px solid black;
  width:calc(100% / 5 - 30px); 
  height:200px;
  line-height: 200px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
}
